<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear producto</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        h1 {
            text-align: center;
            color: #5c2ec7;
        }

        form {
            width: 80%;
            margin: 0 auto;
        }

        label {
            color: #5c2ec7;
        }

        #guardar-producto {
            font-size: 1.5rem;
            background-color: #5c2ec7;
            border-radius: 10px;
            color: #fff;
            padding: 15px 30px;
            float: right;
            margin-top: 20px;
            text-decoration: none;
            border-color: inherit;
        }
    </style>
</head>
<body>
    <h1 style="margin-top: 50px;">Crear producto</h1>

    <form id="create-form">
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" id="nombre" name="nombre" autocomplete="off">
        </div>

        <div class="form-group">
            <label for="precio">Precio:</label>
            <input type="text" class="form-control" id="precio" name="precio" autocomplete="off">
        </div>

        <button id="guardar-producto" type="submit">Guardar producto</button>
    </form>

    <script>
        document.getElementById('create-form').addEventListener('submit', function (e) {
            e.preventDefault();
            const precio = document.getElementById('precio').value;
            const nombre = document.getElementById('nombre').value;
            const url = '/productos';

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ nombre: nombre, precio: precio })
            })
            .then(response => {
                if(response.ok){
                    window.location.href = '/productos';
                }else{
                    console.error(response.status, response.statusText);
                };
            })
            .catch(error => {
                console.error(error);
            });
        });
    </script>
</body>
</html>