<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
		.main {
            width: 80%;
            margin: 0 auto;
        }

        .welcome-title {
            text-align: center;
            font-size: 2rem;
            color: #5c2ec7;
            margin-top: 30px;
			cursor: pointer;
        }

        .main-content {
            background-color: #001f33;
            text-align: center;

            padding: 20px;
            border: 2px solid #001f33;
            border-radius: 10px;
            margin-top: 20px;
			color: #ffffff;
        }

        .product-table {
            width: 100%;
            font-size: 1.5rem;
        }

        .product-table tbody tr:hover {
            background-color: #ffffff;
			color: #003152;
			cursor: pointer;
        }

        .add-product-button {
            font-size: 1.5rem;
            background-color: #5c2ec7;
            border-radius: 10px;
            color: #fff;
            padding: 15px 30px;
            float: right;
            margin-top: 50px;
			text-decoration: none;
        }
    </style>
</head>

<body>
    <div class="main container">
        <h1 class="welcome-title">
            "Mis Productos"
        </h1>

		<% if(productos.length > 0){ %>
        	<div class="main-content">
				<table class="table product-table table-striped">
					<thead>
						<tr>
							<th>Id</th>
							<th>Nombre</th>
							<th>Precio</th>
						</tr>
					</thead>
					<tbody>
						<% productos.forEach(function(producto) { %>
							<tr onclick="window.location.href = 'productos_det/<%= producto.slug %>';">
								<td><%= producto.id %></td>
								<td><%= producto.nombre %></td>
								<td><%= producto.precio %></td>
							</tr>
                        <% }); %>
					</tbody>
				</table>
				
			</div>
		<% } %>

		<a href="productos/crear_producto" class="btn btn-primary add-product-button">Agregar producto</a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
