<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Producto</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .product-button {
            font-size: 1.5rem;
            background-color: #5c2ec7;
            border-radius: 10px;
            color: #fff;
            padding: 15px 30px;
            float: right;
            margin-top: 50px;
			text-decoration: none;
        }
    </style>
</head>

<body>
    <div class="container mt-4 container-main">
        <h1 class="text-center" style="color: #5c2ec7;">Pagina de <%= producto.nombre %></h1>

        <div class="row">
            <div class="col-md-12">

                <form id="update-form">
                    <div class="form-group">
                        <label for="nombre">Nombre de producto:</label>
                        <input
                            type="text"
                            class="form-control"
                            id="nombre"
                            name="nombre"
                            value="<%= producto.nombre %>"
                        >

                        <label for="precio">Precio:</label>
                        <input
                            type="number"
                            step="0.01"
                            min="0.01"
                            class="form-control"
                            id="precio"
                            name="precio"
                            value="<%= producto.precio %>"
                            data-producto-id="<%= producto.id %>"
                            autocomplete="off"
                        >
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <button
                            type="submit"
                            id="guardar-cambios"
                            class="btn btn-primary product-button"
                            style="display: none;"
                        >
                            Guardar cambios
                        </button>

                        <div class="ml-auto">
                            <button
                                id="eliminar-producto"
                                class="btn btn-primary product-button"
                            >
                                Eliminar producto
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        const precioInput = document.getElementById('precio');
        const nombreInput = document.getElementById('nombre');
        const guardarCambiosBtn = document.getElementById('guardar-cambios');

        precioInput.addEventListener('input', function () {
            if (this.value !== this.getAttribute('data-original-value')) {
                guardarCambiosBtn.style.display = 'block';
            } else {
                guardarCambiosBtn.style.display = 'none';
            };
        });

        nombreInput.addEventListener('input', function () {
            if (this.value !== this.getAttribute('data-original-value')) {
                guardarCambiosBtn.style.display = 'block';
            } else {
                guardarCambiosBtn.style.display = 'none';
            };
        });

        document.getElementById('update-form').addEventListener('submit', function (e) {
            e.preventDefault();
            const precio = document.getElementById('precio').value;
            const nombre = document.getElementById('nombre').value;
            const url = '/productos/<%= producto.slug %>'

            fetch(url, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ nombre: nombre, precio: precio })
            })
            .then(response => {
                if (response.ok) {
                    window.location.href = '/productos';
                } else {
                    console.error(response.status, response.statusText);
                };
            })
            .catch(error => {
                console.error(error);
            });
        });

        document.getElementById('eliminar-producto').addEventListener('click', function () {
            const productoId = precioInput.getAttribute('data-producto-id');
            const url = '/productos/<%= producto.slug %>'

            fetch(url, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ nombre: nombre, precio: precio })
            })
            .then(response => {
                if (response.ok) {
                    window.location.href = '/productos';
                } else {
                    console.error(response.status, response.statusText);
                };
            })
            .catch(error => {
                console.error(error);
            });
        });
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>